---
export interface Props {
  article: any;
}

const { article } = Astro.props;
---

<a href={article.url}>
    <main>
        <h2>
            {article.title}
        </h2>
        <p>
            {article.description}
        </p>
    </main>
    <img src={article.image} alt={`Image of ${article.title}`} />
</a>

<style lang="scss">
    a {
        background: var(--cultured-2);
        border-radius: 0.5rem;
        color: currentColor;
        display: grid;
        grid-template-columns: auto minmax(5rem, 20rem);
        min-height: 15rem;
        overflow: hidden;
        text-decoration: none;        

        &:not(:first-child) {
            margin-top: 2rem;
        }

        main {
            display: grid;
            grid-template-rows: auto 1fr auto;
            padding: 1rem;
        }

        img {            
            background: var(--gainsboro);
            display: grid;
            height: 100%;
            object-fit: cover;
            place-items: center;
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        a {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 10rem;
            height: auto;
        }
    }

    @media (prefers-color-scheme: dark) {
        a {
            background: var(--gunmetal);

            img {
                background: var(--davys-grey);
            }
        }
    }
</style>

